* {
    font-family: ubuntu mono;
}

.grid-holder {
    margin-right: 6px;
}

.grid-table {
    border: 1px solid black;
}

.grid-cell {
    border: 1px solid #aaa;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

h2 {
    margin: 4px;
    padding: 4px 0px;
}

.header {
    font-size: 20px;
    border-bottom: 1px solid #aaa;
}

.footer {
    margin-top: 10px;
    border-top: 1px solid #aaa;
    color: #ddd;
}

.selected-cell {
    background-color: black;
}

.unselected-cell {
    background-color: white;
}

#grid-value {
    padding: 4px;
    border: 1px solid #aaa;
    height: 100px;
    width: 100%;
}

.close-box {
    font-size: 10px;
    text-align: right;
}

.char-title {
    background-color: #eee;
    padding: 5px;
    cursor: pointer; 
    border-top: 1px solid #eee;
    margin: 5px;
}

.link {
    cursor: pointer; 
    color: blue;
    text-decoration: underline;
}

#output-code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
    font-size: 12px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}
